/* stylelint-disable */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(rgb(74 189 172/ 0.95), rgb(74 189 172/ 0.9)), url(images/bckground.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.nav-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: rgba(223, 220, 227);
  position: fixed;
  width: 100%;
  top: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2b2036;
}

.logo-text {
  font-size: 1.2rem;
}

/* .fa-xmark:before {
  content: "\f00d";
  display: none;
} */

.desktop {
  display: none;
}

#mobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  font-size: 1.5rem;
  gap: 1rem;
  padding-top: 1rem;
}

header button {
  background: none;
  border: none;
}

h1,
h2 {
  color: white;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.main-content, 
.add-books,
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.add-books {
  display: none;
}

.contact-info {
  display: none;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(74, 189, 172);
  padding: 1rem 0.5rem;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.bookstore {
  display: flex;
  flex-direction: column;
  background-color: #dfdce380;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  gap: 1.5rem;
  animation: appearance 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  z-index: -1;
}

.bookstore:empty {
  display: none;
}

.availableBook {
  display: flex;
  justify-content: space-between;
  gap: 8.5rem;
  align-items: center;
  animation: appearance 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.break {
  height: 2.5px;
  width: 5rem;
  margin: 1rem 0;
  border: none;
  background-color: #f78733;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-end {
  display: flex;
  justify-content: flex-end;
}

.book-info {
  width: 250px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

.contact-info {
  align-items: center;
  color: #2b2036;
  padding: 0.5rem 1rem;
}

.contact-info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

#addBtn, 
.remove {
  padding: 0.5rem 1rem;
  background-color: #f78733;
  border-radius: 5px;
  border: none;
  transition: all;
  transition-duration: 0.4s;
}

#addBtn:hover {
  padding: 0.7rem 1.2rem;
  box-shadow: 2.5px 5px 10px #2b2036;
}

label {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .bookstore {
    width: 90%;
  }

  .fa-bars {
    display: none;
  }

  .fa-bars::before {
    display: none;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 2rem;
  }

  .desktop .nav-link-items {
    display: block;
  }

  .copyright {
    height: auto;
    position: fixed;
  }

  .availableBook {
    gap: 0.5rem;
  }
}

@keyframes appearance {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
